@font-face {
	font-family: 'augustus';
	src: url('../fonts/augustus.eot');
	src: local('☺'), url('../fonts/augustus.woff') format('woff'), url('../fonts/augustus.ttf') format('truetype'), url('../fonts/augustus.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

img {
    width: 70%;
    border-radius: 55px;
    margin-top: 20px;
    border: 1px solid black;
    cursor: pointer; 
}

.image__text{
  font-family: 'augustus';
  text-align: center;
  font-size: xx-large;
  letter-spacing: 1.5px;
  margin: 10px;
  cursor: pointer;
}

.image__text:hover{
  transition: 0.2s;
  color: #9b2d30;
  text-decoration: underline;
}

.block {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; 
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
}

.block__column{
  max-width: 600px;
  min-height: 760px;
}

.align__center{
  text-align: center;
}

.info__block{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 15px;
margin-left: 150px;
margin-right: 150px;
line-height: 25px;
box-shadow: 5px 5px 30px 5px black;
padding: 10px;
display: none;
width: 700px;
margin-top: 100px;
min-width: 2000px;
line-height: 30px;
}

.hidden__text{
  display: none;
}
