img {
    width: 70%;
    border-radius: 55px;
    margin-top: 10px;
    margin-left: 65px;
    border: 1px solid black;
}

.image__text{
  text-align: center;
  font-size: xx-large;
  font-weight: 550;
  letter-spacing: 1.5px;
  margin: 10px;
}

.block {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; 
}



