*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
    background-color:rgb(189, 201, 218);
}

nav{
    width: 100vw; /*size*/
    height: 3.5vh;
    margin-top: 5vh;
    background-color: #7f7679;
    display: flex; /* two containers can't be on the same position 
    in nav-container. it divides nav in half*/
    border: 1px solid silver;
}

.logo{
    font-size: 25px;
    cursor: pointer;
    width: 5vw;
    margin-left: 5vw;
    color: silver
}

ul.nav{
    width: 55vw;
    height: 5vh;
    text-align: center;
    margin-left: 35vw;
}

ul.nav li {
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    margin-left: 2vw;
    margin-right: 2vw;
    color: seashell;
}

a:visited{
    color: seashell;
}

.logolink:hover{
    text-decoration: underline;
    color: black;
    transition: 0.5s;
}


.link:hover{
    text-decoration: underline;
    color: black;
    transition: 0.5s;
}

.logolink:active{
    color:silver;
}

.link:active{
    color:silver;
}

.mainpage{
    font-size: 50px;
    margin-left: 20px;
    margin-top: 30px;
}

.romanimage{
    max-width:900px;
    max-height:700px;
    margin-left: 31px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

  a.generals {
    color: blue;
    text-decoration:none;
  }

.thegreatestgenerals{
    margin-left: px;
    box-shadow: 5px 5px 10px 5px black;
    border: 3px solid rgb(65, 63, 63);
    width: 290px;
    padding: 5px 10px;
    margin-left: 70%;
    margin-top: -35%;
    font-size: 20px;
    list-style-type: none;
}

.thegreatestgenerals li::before{
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    margin-right: 15px;
}

.thegreatestgenerals li:hover:before{
    background-color: red;
}