.main-page{
    font-size: 50px;
    margin-left: 20px;
    margin-top: 30px;
}

.roman__image{
    max-width:900px;
    max-height:700px;
    margin-left: 31px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

a.generals {
    color: blue;
    text-decoration:none;
  }

.the-greatest-generals{
    margin-left: px;
    box-shadow: 5px 5px 10px 5px black;
    border: 3px solid rgb(65, 63, 63);
    width: 290px;
    padding: 5px 10px;
    margin-left: 70%;
    margin-top: -20%;
    font-size: 20px;
    list-style-type: none; /*destroys the dots */
    display: flexbox;
    justify-content: space-around;
    flex-wrap: wrap;    

}

.the-greatest-generals li::before{
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    margin-right: 15px;
}

.the-greatest-generals li:hover:before{
    background-color: red;
}

.history{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 25px;
    box-shadow: 5px 5px 10px 5px black;
    padding: 10px;
}

.collapse{
    text-decoration: underline;
}

.dolorem{
    font-size: 30px;
}

.actually{
    font-size: 50px;
}