@font-face {
	font-family: 'augustus';
	src: url('../fonts/augustus.eot');
	src: local('☺'), url('../fonts/augustus.woff') format('woff'), url('../fonts/augustus.ttf') format('truetype'), url('../fonts/augustus.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.main-page{
    font-size: 50px;
    margin-left: 20px;
    margin-top: 30px;
}

.roman__image{
    max-width:900px;
    max-height:700px;
    margin-left: 31px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 20px;
    display: inline-block;
}

a.generals {
    color: blue;
    text-decoration:none;
  }

.the-greatest-generals{
    margin-left: px;
    box-shadow: 5px 5px 10px 5px black;
    border: 3px solid rgb(65, 63, 63);
    width: 300px;
    padding: 5px 10px;
    font-size: 20px;
    list-style-type: none; /*destroys the dots */
    display: flexbox;
    justify-content: space-around;
    flex-wrap: wrap;   
    margin-left: 30px; 
    margin-top: 100px;

}

.the-greatest-generals li::before{
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    margin-right: 15px;
}

.the-greatest-generals li:hover:before{
    background-color: red;
}

.history{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 25px;
    box-shadow: 5px 5px 10px 5px black;
    padding: 10px;
}

.collapse{
    text-decoration: underline;
}

.dolorem{
    font-size: 30px;
}

.actually{
    font-size: 50px;
}

.block {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}

.block__column{
    min-width: 500px;
    max-width: 1000px;
}