img {
    width: 70%;
    border-radius: 55px;
    margin-top: 20px;
    border: 1px solid black;
    cursor: pointer; 
    transition: 0.25s;
}


.image__text{
  font-family: 'augustus';
  text-align: center;
  font-size: xx-large;
  letter-spacing: 1.5px;
  margin: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.image__text:hover{
  color: #9b2d30;
  text-decoration: underline;
}

.block {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.block__column{
  max-width: 600px;
  min-height: 760px;
  margin: 0px auto;
}

.align__center{
  display: flex;
  justify-content: center;
}

.align__center img:hover{
    box-shadow: 0px 0px 2px 1px black;
}


.info__block{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
margin: 0px auto;
line-height: 25px;
box-shadow: 5px 5px 30px 5px black;
padding: 10px;
display: none;
margin-top: 100px;
line-height: 30px;
}

.hidden__text{
  display: none;
}

/*--------------------------------------------*/